<!--Criando linhas-->
<div class="span3">

    <!--Criando um bloco quadrado = <div class="well"></div>-->
    <div class="well">

        <ul class="nav btn-navbar">

            <li class="nav-header">Usuario</li>
            <li><a href="#">Listar</a></li>
            <li><a href="#">Cadastrar</a></li>
            <li class="nav-header">Noticias</li>
            <li><a href="#">Noticia</a></li>
            <li><a href="#">Lista fotos</a></li>

        </ul>

    </div>

</div>