<!--Crando uma linha e fechando ela em toda página = <div class="row"></div>-->
<div class="row">

    <!--Criando uma barra de menu no topo do site = <div class="navbar navbar-static-top"></div>-->
    <div class="navbar navbar-static-top">

        <!--Criando uma borda = <div class="navbar-inner"></div>-->
        <div class="navbar-inner">

            <!--"<a class="brand></a>" uma marcação que vai ter no logo, "href="#">ASP.NET MVC", link no qual redirecionar para nada "#" -->
            <a class="brand" href="#">ASP.NET MVC</a>

            <!--Opções = <ul class="nav"></ul>-->
            <ul class="nav">

                <!--Cada um desses é um menu... "active" já vai deixar "Home" selecionado automaticamente-->
                <li><a href="#">Home</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>

            </ul>
        </div>
    </div>
</div>